:root {
  --color-background: 250, 250, 245;
  --color-background-box: 255, 255, 255;
  --color-background-donate: 240, 70, 100;
  --color-border: 210, 210, 200;
  --color-text: 0, 0, 0;
  --color-text-content: 40, 40, 20;
  --color-text-donate: 255, 255, 255;
  --width-layout: 1000px;
  --width-content: 600px;
  --width-border: 1px;
  --gap-content: 1rem;
  --gap-layout: 4rem;
  --gap-inline: 0.3em;
  --padding-content: 1rem;
  --padding-layout: 2rem;
  --padding-scroll: 5em;
  --padding-inline: 0.5em;
  --radius-content: 1rem;
  --radius-layout: 2rem;
  --weight-content: 300;
  --weight-title: 400;
  --weight-link: 500;
  --duration-animation: 0.5s;
  --offset-reveal: 3rem;
}

@custom-media --media-layout-mobile (max-width: 750px);
