---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Freddi in Ghana">
	<h1 slot="title" class="title" id="start">
	  <span class="name">
		<span class="first">Freddi in</span>
		<span class="last">Ghana</span>
	  </span>
	  <div id="waving">👋</div>
	</h1>
	<p>
		Hallo, ich bin Frederick und habe als frischer Erwachsener gerade meine letzten Schultage hinter mir gelassen. Als nächsten Schritt im Leben möchte ich einen <b>Weltwärts-Freiwilligendienst</b> bei der <b>ijgd</b> machen, um die Welt besser kennenzulernen. Dafür fliege ich ein Jahr nach Ghana und suche nach <b>Spendern</b>, die mich auf meiner Reise unterstützen!
	</p>

	<h2 id="was-mache-ich-in-ghana">Was mache ich in Ghana?</h2>
	<p>
		Diesen September fliege ich zusammen mit einem Mitfreiwilligen naach <b>Ghana</b> an der Südküste Westafrikas! Dort verbringen wir ein ganzes Jahr in der Stadt Agona Swedru. Neben Sport, Kultur und Märkten befindet sich dort auch die <b>Swedru School of Business</b>. Dort werden wir im Informatikunterricht für Jugendliche assistieren und an IT-Projekten arbeiten!
	</p>

	<h2 id="was-ist-weltwaerts">Was ist Weltwärts?</h2>
	<p>
		Weltwärts ist ein <b>entwicklungspolitisches Programm</b> vom Bundesministerium für wirtschaftliche Zusammenarbeit und Entwicklung (BMZ). Es ermöglicht jungen Erwachsenen Freiwilligendienste im globalen Süden, um dort wertvolle Erfahrungen für das Leben zu sammeln. Diese Freiwilligendienste sind keine Entwicklungshilfe für die Zielländer, sondern ein <b>Lerndienst</b> für die Freiwilligen. Weltwärts organisiert die Projekte nicht selber, sondern weist dafür sogenannte Entseendeorganisationen aus.
	</p>

	<h2 id="was-ist-die-ijgd">Was ist die ijgd?</h2>
	<p>
		Der internationale Jugendgemeinschaftsdienste e.V. (ijgd) ist ein unabhängiger und <b>gemeinnütziger</b> Verein, der zahlreiche Projekte mit Jugendlichen und jungen Erwachsenen unterstützt. Die ijgd ist die <b>Entsendeorganisation</b>, die mein Projekt in Ghana organisiert. Sie bezahlt auch einen Teil der Kosten im Voraus. Daher ist sie darauf angewiesen, diese Kosten in Form von Spenden wieder auszugleichen.
	</p>

	<h2 id="wofuer-sammle-ich-spenden">Wofür sammle ich Spenden?</h2>
	<p>
		Die Spenden sollen die Kosten eines Freiwilligenjahrs decken. Darin entahlent sind Kosten für Vor- und Nachbereitung, Impfungen, Verpflegung, Unterbringung, Taschengeld und Versicherungen. Diese Kosten betragen insgesamt 12 000€, wovon 75% vom BMZ übernommen werden. Den Rest übernimmt die ijgd im Voraus. Damit die ijgd das auch zukünftigen Weltwärts-Freiwilligen ermöglichen kann, sammle ich Spenden von insgesamt <b>3 000€ für die ijgd</b>.
	</p>

	<h2 id="wie-kann-man-spenden">Wie kann man spenden?</h2>
	<p>
		Ich freue mich über jede Spende! Es ist möglich, einmalig, oder über das ganze Jahr hinweg zu spenden. Dafür gibt es zwei Möglichkeiten:
	</p>
	<ul>
		<li><b>bei mir</b> persönlich</li>
		<li>über folgende <b>Bankverbindung</b>:</li>
	</ul>
	<dl>
		<dt>Kontoinhaber</dt>
		<dd>ijgd</dd>
		<dt>Bank</dt>
		<dd>Bank für Sozialwirtschaft Berlin</dd>
		<dt>BIC</dt>
		<dd>BFSWDE33BER</dd>
		<dt>IBAN</dt>
		<dd>DE54100205002592511007</dd>
		<dt>Verwendungszweck</dt>
		<dd>Spende Freiwilligendienst 2025-26</dd>
	</dl>
	<p>
		Wer spendet, kann sich in jeden Fall gerne an mich wenden, damit ich das auf der Spendenliste eintragen kann!
	</p>

	<h2 id="spenden-steuerlich-absetzen">Spenden steuerlich absetzen</h2>
	<p>
		Selbstverständlich können Spenden steuerlich abgesetzt werden! Für Spenden unter 300€ wird dafür nur die Quittung der Überweisung nötig.. Für höhere Spenden kann man sich gerne an mich wenden, um eine Spendenbescheinigung von der ijgd zu erhalten.
	</p>
</Layout>

<style>
.title {
	position: relative;
}
.name {
	display: flex;
	flex-direction: column;
}
.name > .first {
	font-size: 0.8em;
	font-weight: 200;
	color: rgb(var(--color-text));
}
#waving {
	font-size: min(2em, calc(-1em + 40vw));
	position: absolute;
	right: 0px;
	bottom: max(-0.5em, calc(-16rem + 1em));
	animation: 1s waving ease-in-out;
}
@keyframes waving {
	25% {
	transform: rotateZ(-10deg);
	}

	50% {
	transform: rotateZ(7deg);
	}

	75% {
	transform: rotateZ(-5deg);
	}
}
</style>

<script>
const waving = document.getElementById("waving") as HTMLDivElement;
let animating = true;
function animate() {
	if (animating) return;
	waving.style.animation = "none";
	waving.offsetHeight;
	waving.style.animation = null!;
	animating = true;
}
waving.addEventListener("animationend", () => {
	animating = false;
});
waving.addEventListener("mouseenter", animate);
</script>
