---
interface Props extends astroHTML.JSX.DetailsHTMLAttributes {
  title?: string;
}

const {
  class: className,
  "class:list": classList,
  title,
  ...props
} = Astro.props;
---

<details class:list={["answer", className, classList]} {...props}>
  <summary class="answer-summary">
    <h3 class="answer-title">
      <slot name="title">{title}</slot>
    </h3>
  </summary>

  <div class="answer-content">
    <slot />
  </div>
</details>

<style>
  @import "@styles/variables.css";

  .answer {
    background-color: rgb(var(--color-background-box));
    border-style: solid;
    border-color: rgb(var(--color-border));
    border-width: var(--width-border);
    border-radius: var(--radius-content);
  }

  .answer-summary {
    width: 100%;
    padding: var(--padding-content);
    box-sizing: border-box;
    cursor: pointer;

    &::marker {
      content: "";
    }
  }

  .answer-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;

    &::after {
      content: "+";
    }
  }

  .answer[open] .answer-title {
    &::after {
      content: "-";
    }
  }

  .answer-content {
    margin: var(--padding-content);
    box-sizing: content-box;

    height: 0;
    overflow: clip;
    transition: height 0.5s ease;
  }

  .answer[open] .answer-content {
    height: auto;
  }
</style>
