---
import { Icon } from "astro-icon/components";
import Row from "@components/Row.astro";
import Link from "@components/Link.astro";
---

<footer class="footer">
<Row>
<p id="#lizenz">
Copyright © 2025
<Link href="https://creativecommons.org/licenses/by/4.0/">
CC BY 4.0
</Link>
Frederick Bläsing
</p>

<address id="kontakt">
<Link href="mailto:ghana@frederick.blaes.ing">
<Icon name="eva:email-outline" title="E-Mail" />
</Link>
</address>
</Row>
</footer>

<style>
.footer {
  max-width: var(--width-layout);
  margin: var(--padding-layout) auto;
}

#kontakt {
  font-size: 1.3rem;
  text-align: right;
}
</style>
