---
import Link from "@components/Link.astro";
import Row from "@components/Row.astro";
import { translations, type Language } from "@i18n";
import { Icon } from "astro-icon/components";

interface Props {
  language: Language;
}

const { language } = Astro.props;
const t = translations[language];
---

<footer class="footer">
  <Row>
    <p id={t["footer.license.id"]}>
      Copyright © 2025
      <Link external href="https://creativecommons.org/licenses/by/4.0/">
        CC BY 4.0
      </Link>
      Frederick Bläsing
    </p>

    <address id="contact">
      <Link href="mailto:ghana@frederick.blaes.ing">
        <Icon name="eva:email-outline" title="E-Mail" />
      </Link>
    </address>
  </Row>
</footer>

<style>
  @import "@styles/variables.css";

  .footer {
    max-width: var(--width-layout);
    margin: var(--padding-layout) auto;
  }

  #contact {
    font-size: 1.3rem;
    text-align: right;
  }
</style>
