---
import Donate from "@components/Donate.astro";
import Link from "@components/Link.astro";
import { Icon } from "astro-icon/components";
---

<header class="header">
<nav class="nav">

<Link class="nav-root" href="/#">
<Icon name="eva:globe-2-outline"/>
Freddi in Ghana
</Link>

<div class="nav-group">
<Link href="/#blog">
Blog
</Link>

<Link href="/#faq">
FAQ
</Link>

<Donate />
</div>

</nav>
</header>

<style>
.header {
  max-width: var(--width-layout);
  margin: var(--padding-layout) auto;
}

.nav {
  width: 100%;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-content);
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
  }
}

.nav-root {
  font-size: 1.5em;
  font-weight: var(--weight-title);
}

.nav-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-content);
}
</style>
