---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  reverse?: boolean;
}

const {
  class: className,
  "class:list": classList,
  reverse = false,
  ...props
} = Astro.props;
---

<div class:list={["row", { reverse }, className, classList]} {...props}>
  <slot />
</div>

<style>
  @import "@styles/variables.css";

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-layout);

    &.reverse {
      flex-direction: row-reverse;
    }

    > :global(*) {
      flex: 1 1 0;
    }

    @media (max-width: var(--width-layout-mobile)) {
      flex-direction: column !important;
      gap: 0 !important;
    }
  }
</style>
